{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block content %}
<div class="container main-content">
    <h2 class="text-center mb-4">Our Business Gallery</h2>
    <div class="row g-4">
        <!-- Example gallery items -->
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/placeholder1.jpg" class="card-img-top" alt="Business 1">
                <div class="card-body">
                    <h5 class="card-title">Business Name</h5>
                    <p class="card-text">Short description of the business</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/placeholder2.jpg" class="card-img-top" alt="Business 2">
                <div class="card-body">
                    <h5 class="card-title">Business Name</h5>
                    <p class="card-text">Short description of the business</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="static/images/placeholder3.jpg" class="card-img-top" alt="Business 3">
                <div class="card-body">
                    <h5 class="card-title">Business Name</h5>
                    <p class="card-text">Short description of the business</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 